# Folders to ignore
resfinder
output
testdata
.snakemake
bin/resfinder
bin/virulencefinder
bin/python_scripts/__pycache__
/mnt/db/juno-amr/pointfinderdb
/mnt/db/juno-amr/resfinderdb
envs/src/base-juno


#files to ignore
config/user_parameters.yaml
config/sample_sheet.yaml
